* {
  box-sizing: border-box;
}
body {
  background-image: url("col.jpeg");
  color: red;
}
h1 {
  color: blue;
  align-items: center;
  margin-left: 40px;
}
.content {
  border: 1px solid rgb(210, 220, 220);
  height: 490px;
  width: 40%;
  margin: 90px 350px;
  background-color: rgb(210, 220, 220);
  border-radius: 20px;
  opacity: 0.8;
  box-shadow: 0 8px 16px 0 rgba(209, 195, 195, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input,
button {
  height: 30px;
  float: left;
  padding: 10px;
  margin: 6px;
}
button {
  font-size: 18px;
  padding: 5px;
}
